

body{
   
    background-image: url(../img/man.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    margin: 0;
    padding: 0;
}
.circular{
    font-size: 120px;
    display: flex;
    height: 40px;
    width: 40px;
border: 3px solid #31406e;
background-color: rgba(34, 34, 58, 0.235);
    border-radius: 50%;
    text-align: center;
align-items: center;   
justify-content: center; 
margin: 10px;}
