body{
   
    background-image: url(../img/man3.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    margin: 0;
    padding: 0;
}

.registration{
height: 40px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
flex-wrap: nowrap;
border: 1px solid #9450e7;
background-color: rgba(0, 0, 0, .5);
position:sticky;
top: 1px;
}

.registration a{
    margin: 10px ;


}
.a2{
    margin: 10px 10px 10px 300px;

}
.a3{
    margin: 10px 10px 10px 10px;

}
.menu{
    height: 50px;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
border: 1px solid #9450e7;
background-color: rgba(0, 0, 0, .5);

}
.menu a{
    margin:30PX;
}

.q{
    font-weight: bold;
font-size: 100px;
text-align:center;
font-family: "Playwrite AT", cursive;
flex-wrap: wrap;

}
.p1{
 
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #9450e7;
    flex-wrap: wrap;

background-color: rgba(0, 0, 0, .5);
}

