body{
   
    background-image: url(../img/man2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    margin: 0;
    padding: 0;
}

.registration{
 display: flex;
justify-content: space-around;
align-items: center;
height: 50px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border: 1px solid #9450e7;
background-color: rgba(0, 0, 0, .5);
position:sticky;
top: 1px;
flex-wrap: nowrap;

}
.registration button{
    font-size: 20px;
    font-weight: bold;
 border-radius: 10px;
    width: 150px;
    height: 30px;
}


.menu{
    font-size: 15px;
 display: flex;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 10px;
border: 1px solid #9450e7;
background-color: rgba(0, 0, 0, .5);

}
.menu button{
    font-weight: bold;
 border-radius: 10px;
    width: 100px;
}

.name{
    font-size: 120px;
    font-weight: bold;
font-size: 100px;
text-align:center;
font-family: "Playwrite AT", cursive;
flex-wrap: nowrap;

}
.p1{
    font-size: 20px;
 
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #9450e7;
    flex-wrap: nowrap;

background-color: rgba(0, 0, 0, .5);
}

